:root {
  --vh: 100%;
}
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  /* -webkit-font-smoothing:antialiased; */
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  font-size: 10px;
  color: #2c2c2a;
}

html.laypop {
  overflow-y: hidden;
} /* 전체 레이어팝업 일때 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
table,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  word-break: break-all;
}
body,
input,
textarea,
select,
button,
table {
  color: #000;
  font-size: 16px;
  line-height: 1;
}
body a {
  color: inherit;
}
em {
  font-style: normal;
}
fieldset,
img {
  border: 0 none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
input::-ms-clear {
  display: none;
}
button {
  border: 0 none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}
a {
  color: unset;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}
a[href^="tel:"] {
  cursor: text;
}

.blind,
legend,
caption {
  position: absolute;
  z-index: -10;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  font-size: medium;
  line-height: normal;
  word-break: break-all;
}
.ios_no_acc {
  -webkit-overflow-scrolling: auto;
}

/* form */

label {
  vertical-align: middle;
}
textarea {
  width: 100%;
  border: 0;
  overflow-y: auto;
  resize: none;
}

.hiddenZoneV {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  *visibility: hidden;
}

/* dimmed */
.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  opacity: 0.7;
  z-index: 1000;
}

.ql-video {
  width: 100%;
  height: 500px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  display: none;
}

.ant-collapse.ant-collapse-icon-position-left {
  border: none;
}

.ant-collapse .ant-collapse-content {
  border-top: none;
}
.testbg {
  height: 150px;
}
.testbg0 {
  background: khaki;
}

.testbg1 {
  background: red;
}

.testbg2 {
  background: blue;
}
@font-face {
  font-family: "OTWelcomeBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 폰트 */
/**
 * Copyright (c) 2015 Spoqa, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the
 * "Software"), to deal in the Software without restriction, including
 * without limitation the rights to use, copy, modify, merge, publish,
 * distribute, sublicense, and/or sell copies of the Software, and to
 * permit persons to whom the Software is furnished to do so, subject to
 * the following conditions:
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
 * LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: local("Spoqa Han Sans Neo Bold"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  src: local("Spoqa Han Sans Neo Medium"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: local("Spoqa Han Sans Neo Regular"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  src: local("Spoqa Han Sans Neo Light"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 100;
  src: local("Spoqa Han Sans Neo Thin"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.ttf")
      format("truetype");
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

.ql-color .ql-picker-options [data-value="custom-color"] {
  background: none !important;
  width: 100% !important;
  height: 20px !important;
  text-align: center;
}
.ql-color .ql-picker-options [data-value="custom-color"]:before {
  content: "Custom Color";
}
.ql-color .ql-picker-options [data-value="custom-color"]:hover {
  border-color: transparent !important;
}

/* .swiper-slide-duplicate[data-swiper-slide-index="5"] div {
  background: url("/images/mainvis0.jpg") no-repeat left top;
} */

@media screen and (max-width: 1300px) {
  html,
  body {
    font-size: 8px;
  }
}

@media screen and (max-width: 900px) {
  html,
  body {
    font-size: 7px;
  }
}

@media screen and (max-width: 550px) {
  html,
  body {
    font-size: 5px;
  }
}

.ql-editor.ql-blank::before {
  height: 100%;
}

div[data-swiper-slide-index="0"] .txtbox .txt2 {
  font-size: 5.5rem !important;
  margin-bottom: 0;
}
div[data-swiper-slide-index="0"] .txtbox .txt3 {
  font-size: 3rem !important;
}
